<div class="content" ng-show="isUserLoggedIn">
  <h1>Login</h1>
  <form ng-submit="submitLoginForm()" name="loginForm" novalidate>
    <input
      type="text"
      name="username"
      placeholder="Username"
      ng-required="true"
      ng-model="user.username"
    />
    <div ng-show="loginForm.username.$touched && loginForm.username.$invalid">
      <small style="color: red; display: block; text-align: center"
        >Enter a valid username</small
      >
    </div>
    <input
      type="password"
      name="password"
      placeholder="Password"
      ng-required="true"
      ng-model="user.password"
    />
    <div ng-show="loginForm.password.$touched && loginForm.password.$invalid">
      <small style="color: red; display: block; text-align: center"
        >Enter a valid password</small
      >
    </div>
    <input type="submit" value="Login" />
  </form>
</div>
